.about_main {
  width: 90%;
  max-width: 100%;
  margin: 100px auto 0 auto;
}
.about_main h1 {
  font-size: 40px;
  font-family: "Roboto-Bold";
  padding-bottom: 20px;
}
.about_main p {
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
}
