.logo_container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding-top: 50px;
  &_img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.main_container_wrapper {
  height: 100vh;
  width: 100%;
  background: #fff;
}
.controll_button {
  width: 400px;
  max-width: 100%;
  display: flex;
  margin: 50px auto 0px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab_content {
  width: 400px;
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
  margin: 30px auto 0px auto;
  &_context {
    margin: 0px auto 0px auto;
  }
}
.form_control_input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Roboto-Regular";
  font-size: 17px;
  background-color: #f2f4f7;
  border: none;
  margin-top: 18px;
  height: 60px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.form_control_button {
  width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 30px;
  background: none;
  border: 1px solid #24a8ed;
  color: #24a8ed;
  height: 60px;
  margin-top: 30px;
  font-family: "Roboto-Bold";
  font-size: 17px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.form_control_button_active {
  background: #24a8ed;
  color: #fff;
}
