.footer {
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #fff;
  margin-top: 50px;
  padding-bottom: 20px;
}
.footer_logo {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}
